.input {
  color: #fff;
  border: none;
  background: #00685f;
  width: 100%;
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 20px;
  font-family:
    Times New Roman,
    Times,
    serif;
  border-radius: 5px;
}

.input::placeholder {
  color: silver;
}
